# Python Data Structures

# list
- List is a sequences, typically used to store collection of homogeneous
- Lists are mutable
- Using a pair of square brackets,separating items with commas:[a],[a,b,c]
- Using the list comphrenhion:[x for x in iterable]
- Using the type constructor:list()or list(iterable)

In [10]:
l1=[1,2,3,4,5,'hello','world']
l1
#How to add two lists
l2=['welcome',7,8,0]
l2
l3=l1+l2
print(l3)
#How to find index values[]
print(l3[0])
print(l3[5])
print(l3[-1])
# list slicing:
print(l3[0:])
print(l3[6:9])
print(l3[::-1])
print(l3[6::1])
print(l3[11:9:-1])

[1, 2, 3, 4, 5, 'hello', 'world', 'welcome', 7, 8, 0]
1
hello
0
[1, 2, 3, 4, 5, 'hello', 'world', 'welcome', 7, 8, 0]
['world', 'welcome', 7]
[0, 8, 7, 'welcome', 'world', 'hello', 5, 4, 3, 2, 1]
['world', 'welcome', 7, 8, 0]
[0]

In [13]:
# list methods:
a = []
dir(list)
dir(l1)
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [31]:
# append method
a=[1,2,3,4,5]
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [32]:
# Extend()
a.extend([8,9,10])
a[5]
print(a)

[1, 2, 3, 4, 5, 6, 8, 9, 10]

In [33]:
# count
a

[1, 2, 3, 4, 5, 6, 8, 9, 10]

In [34]:
# Count
a.count(8)
# Difference b/w pop,remove,clear,del
a.pop()# by default last in firstout
a.pop(0)# index based
a.remove(2)# value based

In [35]:
a

[3, 4, 5, 6, 8, 9]

In [42]:
# Sort And Reverse
x=[1,6,9,12,56,90]
# sort
x.sort()
# Reverse
x.reverse()
x.sort(reverse=False)
x

[1, 6, 9, 12, 56, 90]

In [38]:
x

[90, 56, 12, 9, 6, 1]

In [45]:
#  Insert(position,value)
vowles=['a','i']
vowles.insert(1,'e')
vowles,insert(3,'o')
vowles.insert(4,'u')
vowles

['a', 'e', 'i']

In [48]:
# Copy
y=x.copy()
x.append(100)
print(y)
print(x)

[1, 6, 9, 12, 56, 90]
[1, 6, 9, 12, 56, 90, 100]

In [50]:
z=y.copy()
y.append(100)
print(z)
print(y)

[1, 6, 9, 12, 56, 90]
[1, 6, 9, 12, 56, 90, 100]

In [52]:
m=[]
n=int(input('Enter range of numbers'))
for i in range(0,n+1):
    m.append(i)
    print(m)

Enter range of numbers7
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]

# Tuples
- Tuples are immutable sequences,typically used to store collection of hetrogeneous
- Tuples are also used for cases where an immutable sequence of homogeneous data is needed
- using a pair of parentheses to denote the empty tuple:()
- using a tralling comma for a singleton tuple a,or(a,)

In [53]:
# Tuples 
t=(1,2,3,4,5,'a','b','c')
# Tuple indexing
t[0]
t[-1]
t[-5]
# Slicing Tuple
t[:]
t[::-1]
t[2:3]
t[0:]
t[0]=0
t
# Tuple immutable
t[0]=0
t

(1, 2, 3, 4, 5, 'a', 'b', 'c')

# Tuple methods
dir(t)

In [60]:
li=[1,2,3,4,5,1,2,3,]
l1=[]
for i in li:
    if i not in l1:
        l1.append(i)
l1

[1, 2, 3, 4, 5]

In [65]:
# Packing
student=('abc','123456','cse')
(name,rollno,dpt)=student
print(name)
print(rollno)
print(dpt)

abc
123456
cse

# Dictonaries
- Creating a dictionary is as simple is as single as placing items inside curly braces {}separated by commas
* An item has a key and a corresponding value that is expresseda as a pair(key.value)
- access values a dictionary uses key

In [89]:
address={'name':'mani'}
(address)

{'name': 'mani'}

In [90]:
address['pincode']=523001
address['street']="lingamgunta"
address

{'name': 'mani', 'pincode': 523001, 'street': 'lingamgunta'}

In [91]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [92]:
address.get('name')

'mani'

In [93]:
address.items()

dict_items([('name', 'mani'), ('pincode', 523001), ('street', 'lingamgunta')])

In [94]:


address.keys()

dict_keys(['name', 'pincode', 'street'])

In [95]:
address.values()

dict_values(['mani', 523001, 'lingamgunta'])

In [96]:
address.popitem()

('street', 'lingamgunta')

In [97]:
address.pop('pincode')

523001

In [98]:
address

{'name': 'mani'}

In [102]:
address1={'pincode':523001,'street':'chinnu'}
address1

{'pincode': 523001, 'street': 'chinnu'}

In [103]:
address.update(address1)
address1

{'pincode': 523001, 'street': 'chinnu'}

In [107]:
address['name']="mani"
address

{'name': 'mani', 'pincode': 523001, 'street': 'chinnu'}

In [113]:
address2=dict.fromkeys(address)

In [115]:
address2

{'name': None, 'pincode': None, 'street': None}

In [116]:
for i in range
{% for i in range(0,10)%}
{% endfor%}

SyntaxError: invalid syntax (<ipython-input-116-cded2ca9d85d>, line 1)

# sets
- Set is an unordered collection of items.Every set element is unqiue and must be immutable
- A set is created by placing all the items inside curly baces {},seperated by comma or using the bulit in set function

In [123]:
# Sets
s={1,2,3,4,5,6,7,1,2,3,4}
s

{1, 2, 3, 4, 5, 6, 7}

In [117]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [119]:
b={1,2,3,10,11,12,13}
b

{1, 2, 3, 10, 11, 12, 13}

In [124]:
s.union(b)

{1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 13}

In [125]:
s.union(b)

{1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 13}

In [126]:
s.intersection(b)

{1, 2, 3}